* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary:#e3f6f5;
  --secondary:#bae8e8;
  --navbar: #8bd3dd;
}

#sidebar {
  position: fixed;
  padding-top: 30px;
  width: 250px;
  height: 100%;
  background-color: var(--secondary);
  display: none;
  color: black;
}

#sidebar a:hover {
  color:blueviolet;
}

td button:nth-child(1) {
  background-color: blue;
  color: white;
}

#sidebar h2 {
  color: black;
  text-align: center;
  padding: 20px 0px;
}

#sidebar a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  color: black;
}


#content {
  margin-left: 0px;
  padding: 16px;
  height: 100%;
  overflow: hidden;
}

#navbar {
  background-color:var(--navbar);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  overflow: hidden;
  /* gap: 50px; */
}

#navbar .right input,
button {
  padding: 8px 13px;
  border-radius: 4px;
  border: none;
  display: none;
}

#navbar .right button {
  cursor: pointer;
}

.toggle-btn {
  background-color: white;
  border-radius: 4px;
  padding: 4px 6px;
  scale: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-dashboard {
  margin-top: 20px;
  color: black;
}



table {
  margin-top: 10px;
  overflow: auto;
}

th {
  background-color: var(--navbar);
  color: white;
  padding: 5px 10px;
}

td {
  padding: 5px 7px;
}

tr:hover td {
  background-color: rgb(174, 131, 180);
}

td button:nth-child(1) {
  background-color: blue;
  color: white;
}
td button:nth-child(2) {
  background-color: red;
  color: white;
}

.content-dashboard form {
  display: flex;
  flex-direction: column;
  margin-top:20px ;
  gap: 5px;
}

.content-dashboard input {
  background-color: var(--primary);
  border: none;
  padding: 7px;
  border-radius: 5px;
}
form textarea {
    padding: 10px 10px;
  background-color: var(--primary);
}

.content-dashboard button {
  background-color: var(--navbar);
  color: black;
  gap: 10px;
}

/* ipad atau Dekstop */
@media (min-width: 768px) {
  #sidebar {
    display: block;
  }

  #content {
    margin-left: 250px;
  }

  #navbar .right input,
  button {
    display: inline;
  }

  .toggle-btn {
    padding: 1px 8px;
  }
}
